      <p class="login-box-msg">Faça login para iniciar sua sessão</p>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group has-feedback">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="field form-group has-feedback">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha" %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
          <% if devise_mapping.rememberable? %>
            <div class="col-xs-8">
              <div class="icheck-primary">
                <%# f.check_box :remember_me, type: "checkbox", id: "remember" %>
                <input type="checkbox" id="remember" name="admin[remember_me]"> 
                <label for="remember">Lembrar-me</label>
              </div>
            </div>
          <% end %>

          <div class="actions col-xs-4">
            <%= f.submit "Entrar", class: "btn btn-primary btn-block btn-flat" %>
          </div>
        </div>

      <% end %>

<%# render "admins/shared/links" %>
